@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
    height: 100vh;
    overflow: hidden;
}

.logo{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
}

.logo a{
    text-decoration: none;
    color:#FF6D1F;
}

.custom_nav {
    position: relative;
    gap: 15px;
    position: fixed;
    height: 600px;
    background-color: #14213D;
    color: white;
    border-radius: 0 10px 10px 0;
}

.nav-links{
    width: 120px;
    margin-top: 30px;
}

.nav-item {
    font-family: 'poppins';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.nav-item i {
    color: #fff;
    font-size: 10px;
    transition: transform 0.3s ease-in-out;

}

.nav-item:hover {
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.291);

}

.nav-item:hover i {
    transform: translate(-3px)!important;

}

.nav-links a{
    color:#fff;
    text-decoration: none;
}

.nav-links a:hover{
    transform: translate(-3px)!important;
    color: #fff;
    text-decoration: none;
}

.exit{
    margin-top: 100px;
}

#logout{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#FF6D1F;
    color:#ffffff;
    font-weight:400;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    width: 80%;
    text-decoration: none;
    font-family: 'poppins';
}

#logout p{
    padding-left: 10px;
}

#logout:hover{
    background-color: rgba(236, 238, 241, 0.075);
    color:#FF6D1F;
    border: 1px solid #FF6D1F;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .logo{
        padding-left: 10px;
    }
    .custom_nav{
        width: 100px;
    }
    .nav-item {
        width: 100px; 
        height: 45px;
    }

    .nav-item i{
        font-size: 13px;
    }

    .nav-item p {
        display: none; 
    }

    .nav-item:hover {
     background-color: transparent;
    }

    #logout p {
        display: none; 
    }

    #logout i {
        align-items: center;
        padding: 10px;
        border-radius: 5px;
    }

    .status-wrapper{
        display: none !important;
    }
    .container{
        margin-left: 150px;
    }
}

.container{
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding: 100px;
    display: flex;
    overflow-y: auto;
   
}

.buttons{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.title{
    font-family: 'poppins';
}
.profile-container{
    display: flex;
    gap: 20px;
}
.profiledata{
 font-family: 'poppins';
}

.profiledata label{
    color: rgb(91, 89, 89);
}

#edit{
    padding:10px;
    font-family: "poppins";
    text-decoration: none;
    text-align: center;
    background-color: green;
    color:#ffffff;
    font-weight:500;
    border: none;
    border-radius: 10px;
    width: 70%;
}

#edit:hover{
    background-color: #e5e5e5;
    color: green;
    border: 1px solid green;
}

#deleteAccountBtn{
    padding:10px;
    font-family: "poppins";
    text-align: center;
    background-color: red;
    text-decoration: none;
    color:#ffffff;
    font-weight:500;
    border: none;
    border-radius: 10px;
    width: 75%;
}

#deleteAccountBtn:hover{
    background-color: #e5e5e5;
    color: red;
    border: 1px solid red;
}

.title{
    padding: 10px;;
}

.title a{
    text-decoration: none;
    color: #FF6D1F;
    font-weight: 600;
    font-size: 30px;
}

.name{
    display: flex;
}


#signup{
    width: 100%;
}

#signupForm input,
#signupForm button {
    display: block; 
    margin-bottom: 15px;
}

#signupForm input{
    background-color: rgba(132, 143, 168, 0.075);
    border: none ;
    border-radius: 5px;
    color: #14213D;
    
}

#signupForm input:hover{
    border: 1px solid #FF6D1F;
    
}

#signupForm input:focus{
    border: 1px solid #FF6D1F;
    outline:none;
    background-color: rgba(132, 143, 168, 0.075); ;
}


#signupForm {
    width: 90%; 
    max-width: 400px; 
    margin: 0 auto; 
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }
    .profiledata {
        width: 100%;
    }
    .container{
        padding-top: 610px;
    }
    .img img{
        margin-left: 50px;
    }
}